

  h1 { padding-left : 152px;
       margin-bottom : 20px;
       margin-top : 60px;
       font-size : 60px;
       font-family : Arial;
       color : black; }
       a{text-decoration: none;
        }

        h2 { font-family : Arial;
    padding-left : 250px;
    padding-top : 220px;
    display : inline-block; }

  .Hobby { width : 290px;
           height : 90px;
           background : #E9E9E9; /* #65CABC = mint */
           border-radius : 13px;
           text-align : center;
           line-height : 88px;
           font-size : 35px;
           font-weight : bold;
           color : black;
           margin-left : 40px;
           margin-top : 20px;
           display : inline-block;
           font-family : Arial;

         }
  #box { text-align : center;
         padding-right : 40px;
        font-family : Arial;
        position: relative;
      left:0; top:0; }

#logiccontent{ padding-left:80px;
  padding-right: 80px;
  padding-bottom: 60px;

text-align: left;
margin-left: 68px;
margin-right: 68px;
margin-top: 68px;
margin-bottom: 20px;

font-size: 30px;
font-family: Arial;
line-height: 185%;/* 글자대비 */
border-bottom: 3px black dotted;
boo}

#Quiz1{ margin-left:70px;
  margin-right: 60px;
  margin-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 60px;
  padding-top: 0px;

text-align: left;

font-size: 24px;
font-family: Arial;
line-height: 150%;
width: 100%;
height: 300px;
background: #E9E9E9;
border-radius: 20px;}

#Quiz1answer {font-size: 24px;
font-family: Arial;
line-height: 150%;
padding-top: 20px;
padding-right: 40px;
margin-left: 190px;}

#grid2{ display: grid;
grid-template-columns: 1fr 1fr;}

  h3 { font-family : Arial;
       font-weight : lighter;
       font-size : 22px;
       padding-left : 70px;
       padding-right : 150px;
       padding-top : 80px;
        display : inline-block;
       }
  #grid{ display : grid;
    grid-template-columns : 1fr 2fr; }

  br { line-height : 1px; }

  #logo{ width:200px;
  height:200px;
border-radius:50%;
background:#f0f0f0;
position:absolute;
top:150px;left:193px;
text-align: center;}

#logo2{ position:absolute;
left:262px;top:340px;}

#Quizpicture{ position:absolute;
right: 5px; top:630px;}


@media(min-width:1061px) {  h2{ padding-left: 500px;
padding-bottom: 0px;
padding-top: 20px;
margin-bottom: 0px;
font-size: 30px;}
#grid{ display:grid;
  grid-template-columns: 1fr;}
h3{ padding-left: 500px;
padding-top: 0px;
margin-top: 0px;}
#logo2{ width:80px;}
}


@media(max-width: 1060px) {
  h3{ font-size: 24px;
  padding-top: 40px;
padding-left: 0px;}
  #logo{ position: absolute;
  top:280px;left: 130px;}
  h2{ padding-left: 185px;
  padding-top: 230px;}
  #grid{ display: grid;
          grid-template-columns: 1fr 1fr;}

          h1{ padding-left: 100px;}
          #logo2{ position: absolute;
          top: 470px; left: 200px;
        width: 80px;}

}
@media(max-width: 737px) {
  #logo{ position: absolute;
  top: 470px; left:50%; right: 50%;
  transform: translate(-50%, -50%);/*이 부분이 가운데로 정렬시킴*/


}
 #grid{ display: grid;
 grid-template-rows: 1fr 1.5fr;
grid-template-columns: 1fr;
}

#grid2{ display: grid;
grid-template-rows: 1fr 1.5fr;
grid-template-columns: 1fr; }



h3{ text-align: center;
   padding-left: 40px;
 padding-right:40px;
padding-top: 0px;
margin-top: 0px;
font-size: 24px;
line-height: 150%;}
 h1{ text-align: center;
  padding-left: 30px;
  padding-right: 30px;}
  #logo2{ /*position: absolute;
  top: 570px; left: 190px; */
text-align: center;

position: absolute;
top: 620px; left:50%; right: 50%;
transform: translate(-50%, -50%);
}
  h2{ text-align: center;
  padding-left: 30px;
  padding-right: 30px;
margin-bottom: 0px;
font-size: 27px;}

#logiccontent{
  margin-left: 40px;
  margin-top: 30px;
  margin-right: 40px;
padding-left:0px;
padding-right: 0px;
font-size: 28px;
text-align: center;
font-family: Arial;}

}

#Quiz1{ margin-left:20px;
margin-right:20px;
width: 80%;
height: 80%;
text-align: left;
padding-top: 10px;
padding-left: 10%;
padding-right:10%;
margin-bottom: 0px;
padding-bottom: 60px;

}

#Quiz1answer { margin-left: 30px;
margin-top: 200px;}
#Quizpicture { position: absolute;
left:50%;right:50%;
  transform: translate(-50%, -50%);top:1640px;

}

#box2{ text-align: center;}
